{% extends 'main/base.html' %} {% block content %} {% load staticfiles %}

<body>

    <!-- header-->
    <div class="container-fullwidth">
        <div class="header">
            <div class="container">
                <nav id="navid" class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url 'index' %}">StudyBuddy</a>
                        </div>
                        <!-- navbar-header-->

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a></li>
                                <li class="active"><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'courses' %}">Courses</a></li>
                            </ul>
                            <form method="get" action="/search/" class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" class="input-medium search-query" name="q" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Search</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Log Out</a></li>
                                {% else %}
                                <li><a id="loginlink" href="#">Log In</a>
                                    <div id="loginmenu">
                                        {% if form.errors %}
                                        <p>The username and password combination you have entered is invalid. Please try again.</p>
                                        {% endif %}
                                        <form method="post" action="{% url 'login' %}">
                                            {% csrf_token %}
                                            <input type="text" name="username" placeholder="Username"><br>
                                            <input type="password" name="password" placeholder="Password"><br>
                                            <input type="submit" name="login" value="login">
                                        </form>
                                    </div>
                                </li>
                                <li><a id="reglink" href="#">Register</a>
                                    <div id="regmenu">
                                        <form method="post" action="">
                                            {% csrf_token %}
                                            <input type="text" name="username" placeholder="Username"><br>
                                            <input type="password" name="password" placeholder="Password"><br>
                                            <input type="email" name="email" placeholder="E-mailaddress"><br>
                                            <input type="submit" name="register" value="register">
                                        </form>
                                    </div>
                                </li>
                                {% endif %}
                                <li><a href="{% url 'upload' %}">Upload</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <!-- navbar-default -->
            </div>
            <!-- container-->
        </div>
        <!-- header-->
    </div>
    <!-- container-fullwidth -->


    <!-- content -->
    <div style="margin-bottom: 10px;" class="container">

        <h1 style="margin-bottom: 60px;">About StuddyBuddy</h1>

        <h4>
            StudyBuddy is an aid in the audience’s efforts regarding the preparations for their Exams. Here, said audience which presumably consists of students can find documents uploaded by other users and indexed according to the document’s respective course and/or
            major.
        </h4>

        <h4>
            These documents consist of, amongst others, summaries and exams from earlier years relevant to the desired course.
        </h4>
        <h4>
            In order to upload files, the user is required to log in with a personal account. Such an account can be created after selecting the register option.
        </h4>
        <h4>
            After completing registration users are free to log in and begin uploading files as they see fit, while already and at the same time being able to access the content that has already been uploaded to the website.
        </h4>
        <h4>
            In addition to this, users can click the <i>"courses"</i> page to have all majors and their respective courses displayed directly, after which they may select the desired course and browse the available files.
        </h4>

    </div>
    <!-- container -->

    <footer class='container-fullwidth footer' id="footer">
        <div class="container">
            <p>StudyBuddy Copyright &copy; 2017. All rights reserved.
                <!--  <a class="pull-right" href="https://www.facebook.com/"><img height="25px" width="25px" src="https://www.facebook.com/images/fb_icon_325x325.png" /></a>
                <a class="pull-right" href="https://twitter.com/?lang=nl"><img height="25px" width="25px" src="https://g.twimg.com/ios_homescreen_icon.png" /></a> -->
            </p>
        </div>
        <!-- container -->
    </footer>
    <!-- footer -->


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/myjs.js' %}"></script>
</body>
{% endblock %}
