{% extends 'main/base.html' %} {% block content %} {% load staticfiles %}

<body>

<!-- header-->
    <div class="container-fullwidth">
        <div class="header">
            <div class="container">
                <nav id="navid" class="navbar navbar-default">
                    <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url "index" %}">StudyBuddy</a>
                        </div><!-- navbar-header-->

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="{% url "index" %}">Home <span class="sr-only">(current)</span></a></li>
                                <li class="active"><a href="{% url "about"%}">About</a></li>
                                <li><a href="{% url "courses"%}">Courses</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{% url "upload"%}">Upload</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav><!-- navbar-default -->
            </div><!-- container-->
        </div><!-- header-->
    </div><!-- container-fullwidth -->


    <!-- content -->
    <div class="container">

        <h1>About StuddyBuddy</h1>



    </div><!-- container -->

    <div class='container-fullwidth' id="footer">
        <div class="container">
            <p>&copy; copyright 2016
                <a href="https://www.facebook.com/"><img height="20px" width="20px" src="https://www.facebook.com/images/fb_icon_325x325.png" /></a>
                <a href="https://twitter.com/?lang=nl"><img height="20px" width="20px" src="https://g.twimg.com/ios_homescreen_icon.png" /></a>
            </p>
        </div><!-- container -->
    </div><!-- footer -->


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- <br><br><br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box1">
                    <h3>You're in good company</h3>
                    <button type="box" class="btn btn-default btn-box">Check out</button>

                    <p class="text-muted">Hier kan eventueel extra informatie</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box2">
                    <h3>Summaries</h3>
                    <button type="box" class="btn btn-default btn-box">Check out</button>

                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box3">
                    <h3>Exams</h3>
                    <button type="box" class="btn btn-default btn-box">Check out</button>

                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box4">
                    <h3>Other</h3>
                    <button type="box" class="btn btn-default btn-box">Check out</button>

                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </div>
 -->
</body>
{% endblock %}
