{% extends 'main/base.html' %} {% block content %} {% load staticfiles %}

<body>

    <!-- header-->
    <div class="container-fullwidth">
        <div class="header">
            <div class="container">
                <nav id="navid" class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url 'index' %}">StudyBuddy</a>
                        </div>
                        <!-- navbar-header-->

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'courses' %}">Courses</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Log Out</a></li>
                                {% else %}
                                <li><a id="loginlink" href="#">Log In</a>
                                    <div id="loginmenu">
                                        {% if form.errors %}
                                        <p>The username and password combination you have entered is invalid. Please try again.</p>
                                        {% endif %}
                                        <form method="post" action="{% url 'login' %}">
                                            {% csrf_token %}
                                            <input type="text" name="username" placeholder="Username"><br>
                                            <input type="password" name="password" placeholder="Password"><br>
                                            <input type="submit" name="login" value="login">
                                        </form>
                                    </div>
                                </li>
                                <li><a id="reglink" href="#">Register</a>
                                    <div id="regmenu">
                                        <form method="post" action="">
                                            {% csrf_token %}
                                            <input type="text" name="username" placeholder="Username"><br>
                                            <input type="password" name="password" placeholder="Password"><br>
                                            <input type="email" name="email" placeholder="E-mailaddress"><br>
                                            <input type="submit" name="register" value="register">
                                        </form>
                                    </div>
                                </li>
                                {% endif %}
                                <li><a href="{% url 'upload' %}">Upload</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <!-- navbar-default -->
            </div>
            <!-- container-->
        </div>
        <!-- header-->
    </div>
    <!-- container-fullwidth -->


    <!-- content -->
    <div class="container">

        <img id="picture1" src="http://mijnstudybuddy.nl/wp-content/uploads/2015/05/logo-horizontaal.png" alt="main-image">




        <form method="get" action="/search/" id="searchbarform">
          <h4><i>search for courses, majors or resources</i></h4>
            <div id="searchbargroup" class="form-group">
                <input id="homejs" type="text" class="form-control large input-medium search-query" name="q" placeholder='"Computer Science",  "Web Analytics",  "2INC0"'>
                <input type="submit" class="btn btn-default btn-main" id="searchbarbutton" value="Search!">
            </div>
            <!-- form-group -->
            <!--
            <label><input type="checkbox" name="checkbox" value="summariesbox" checked>Summaries</label>
            <label><input type="checkbox" name="checkbox" value="examsbox" checked>Exams</label>
            <label><input type="checkbox" name="checkbox" value="coursesbox" checked>Courses</label>
            <label><input type="checkbox" name="checkbox" value="majorsbox" checked>Majors</label>
          -->
        </form>


        <div class="row pad-top">

            <h1 class="center">You're in good company!</h1>

            <div class="col-xs-4 iconstuff">
                <img src="{% static 'img/courses.svg' %}" />
                <h2 class="smaller-text">{{courses.count}} Courses</h2>
            </div>
            <div class="col-xs-4 iconstuff">
                <img src="{% static 'img/summaries.svg' %}" />
                <h2 class="smaller-text">{{summaries.count}} Summaries</h2>
            </div>
            <div class="col-xs-4 iconstuff">
                <img src="{% static 'img/exams.svg' %}" />
                <h2 class="smaller-text">{{exams.count}} Exams</h2>
            </div>
        </div>


    </div>
    <!-- container -->

    <footer class='container-fullwidth footer' id="footer">
        <div class="container">
            <p>StudyBuddy Copyright &copy; 2017. All rights reserved.
                <!--  <a class="pull-right" href="https://www.facebook.com/"><img height="25px" width="25px" src="https://www.facebook.com/images/fb_icon_325x325.png" /></a>
                <a class="pull-right" href="https://twitter.com/?lang=nl"><img height="25px" width="25px" src="https://g.twimg.com/ios_homescreen_icon.png" /></a> -->
            </p>
        </div>
        <!-- container -->
    </footer>
    <!-- footer -->


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/myjs.js' %}"></script>
    <!--
    {% if message%}
    <script>
        alert('{{ message }}');
    </script>
    {% endif %} -->
    {% block loginjs %} {% endblock %}
</body>
{% endblock %}
