{% extends 'main/base.html' %} {% load staticfiles %}{% block content %}

<body>

    <!-- header-->
    <div class="container-fullwidth">
        <div class="header">
            <div class="container">
                <nav id="navid" class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                            <a class="navbar-brand" href="{% url 'index' %}">StudyBuddy</a>
                        </div>
                        <!-- navbar-header-->

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a></li>
                                <li><a href="{% url  'about' %}">About</a></li>
                                <li class="active"><a href="{% url 'courses' %}">Courses</a></li>
                            </ul>
                            <form method="get" action="/search/" class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" class="input-medium search-query" name="q" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Search</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Log Out</a></li>
                                {% else %}
                                <li><a id="loginlink" href="#">Log In</a>
                                    <div id="loginmenu">
                                        {% if form.errors %}
                                        <p>The username and password combination you have entered is invalid. Please try again.</p>
                                        {% endif %}
                                        <form method="post" action="{% url 'login' %}">
                                            {% csrf_token %}
                                            <input type="text" name="username" placeholder="Username"><br>
                                            <input type="password" name="password" placeholder="Password"><br>
                                            <input type="submit" name="login" value="login">
                                        </form>
                                    </div>
                                </li>
                                <li><a id="reglink" href="#">Register</a>
                                    <div id="regmenu">
                                        <form method="post" action="">
                                            {% csrf_token %}
                                            <input type="text" name="username" placeholder="Username"><br>
                                            <input type="password" name="password" placeholder="Password"><br>
                                            <input type="email" name="email" placeholder="E-mailaddress"><br>
                                            <input type="submit" name="register" value="register">
                                        </form>
                                    </div>
                                </li>
                                {% endif %}
                                <li><a href="{% url 'upload' %}">Upload</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <!-- navbar-default -->
            </div>
            <!-- container-->
        </div>
        <!-- header-->
    </div>
    <!-- container-fullwidth -->
    <div class="container-fluid coursecon">
        <div class="row container-course">
            <h1 style="font-weight: 600; color: black;">Search Results for "{{query}}"</h1>
        </div>
    </div>

    <div class="container">

        {% if courses or exams or summaries %}
        {% if courses %}
        <div class="row">
            <h2 style="font-family: 'Comfortaa-Bold';">Courses</h2>
            <table class="table hoverTable">
                <thead>
                    <tr>
                        <th>Major</th>
                        <th>Course</th>
                        <th>Course ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for res in courses%}
                    <tr onclick="window.document.location='{% url 'course' pk=res.pk%}'">
                        <td scope="row">
                          {% if res.major == 'bachelorcollege' %}Bachelor College{% endif %}
                          {% if res.major == 'appliedmathematics' %}Applied Mathematics{% endif %}
                          {% if res.major == 'appliedphysics' %}Applied Physics{% endif %}
                          {% if res.major == 'architecture' %}Architecture, Urbanism and Building Sciences{% endif %}
                          {% if res.major == 'automotive' %}Automotive{% endif %}
                          {% if res.major == 'biomedicalengineering' %}Biomedical Engineering{% endif %}
                          {% if res.major == 'chemicalengineering' %}Chemical Engineering{% endif %}
                          {% if res.major == 'computerscience' %}Computer Science{% endif %}
                          {% if res.major == 'electricalengineering' %}Electrical Engineering{% endif %}
                          {% if res.major == 'industrialdesign' %}Industrial Design{% endif %}
                          {% if res.major == 'industrialengineering' %}Industrial Engineering{% endif %}
                          {% if res.major == 'mechanicalengineering' %}Mechanical Engineering{% endif %}
                          {% if res.major == 'psychologyandtechnology' %}Psychology and Technology{% endif %}
                          {% if res.major == 'sustainableinnovation' %}Sustainable Innovation{% endif %}
                        </td>
                        <td>{{res.name}}</td>
                        <td>{{res.course_id}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
         {% if exams %}
        <div class="row">
            <h2 style="font-family: 'Comfortaa-Bold';">Exams</h2>
            <table class="table hoverTable">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Uploaded By</th>
                        <th>File</th>
                    </tr>
                </thead>
                <tbody>
                    {% for res in exams%}
                    <tr onclick="window.document.location='{{res.resourcefile.url}}'">
                        <td scope="row">{{res.resourcetype}}</td>
                        <td>{{res.title}}</td>
                        <td>{{res.uploadedBy}}</td>
                        <td><a href="{{res.resourcefile.url}}">{{res.resourcefile}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if summaries %}
        <div class="row">
            <h2 style="font-family: 'Comfortaa-Bold';">Summaries</h2>
            <table class="table hoverTable">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Uploaded By</th>
                        <th>File</th>
                    </tr>
                </thead>
                <tbody>
                    {% for res in summaries%}
                    <tr onclick="window.document.location='{{res.resourcefile.url}}'">
                        <td scope="row">{{res.resourcetype}}</td>
                        <td>{{res.title}}</td>
                        <td>{{res.uploadedBy}}</td>
                        <td><a href="{{res.resourcefile.url}}">{{res.resourcefile}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% else %}
        <div class="row">
            <h4>Nothing found for "{{query}}". Please try again. </h4>
            <a href="{% url 'upload' %}"><h4> Still nothing? Upload your resources now and contribute to StudyBuddy!</h4></a>
            <a onclick='$("#regmenu").toggleClass("active"); $("#loginmenu").removeClass("active"); $(".navbar-toggle").trigger("click");'>
                <h4> Not registred yet? Register now and start contributing to the evergrowing StudyBuddy database</h4>
            </a>
        </div>
        {% endif %}
    </div>



    <footer class='container-fullwidth footer' id="footer">
        <div class="container">
            <p>StudyBuddy Copyright &copy; 2017. All rights reserved.
                <!--  <a class="pull-right" href="https://www.facebook.com/"><img height="25px" width="25px" src="https://www.facebook.com/images/fb_icon_325x325.png" /></a>
                <a class="pull-right" href="https://twitter.com/?lang=nl"><img height="25px" width="25px" src="https://g.twimg.com/ios_homescreen_icon.png" /></a> -->
            </p>
        </div>
        <!-- container -->
    </footer>
    <!-- footer -->


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/myjs.js' %}"></script>

</body>
{% endblock %}
