{% extends 'main/base.html' %} {% load staticfiles %}{% block content %}

<body>

<!-- header-->
    <div class="container-fullwidth">
        <div class="header">
            <div class="container">
                <nav id="navid" class="navbar navbar-default">
                    <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                        <a class="navbar-brand" href="{% url "index" %}">StudyBuddy</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url "index" %}">Home <span class="sr-only">(current)</span></a></li>
                            <li><a href="{% url "about"%}">About</a></li>
                            <li><a href="{% url "courses" %}">Courses</a></li>
                        </ul>
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="{% url "upload" %}">Upload</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav><!-- navbar-default -->
        </div><!-- container-->
    </div><!-- header-->
</div><!-- container-fullwidth -->>

    <div class="container">
        <div class="row">
            <form method="POST" enctype="multipart/form-data" class="post-form">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.title.label_tag }}</td>
                        <td>{{ form.title }}</td>
                    </tr>
                    <!--<tr>
                        <td>{{ form.major.label_tag }}</td>
                        <td id="majorcs" >{{ form.major }}</td>
                    </tr>-->
                    <tr>
                        <td>{{ form.course.label_tag }}</td>
                        <td id="coursejs">{{ form.course }}</td>
                        <td>
                          <button type="button" onclick="window.document.location='{% url "addcourse" %}'"}>Add Course</button>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.resourcetype.label_tag }}</td>
                        <td>{{ form.resourcetype }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.resourcefile.label_tag }}</td>
                        <td>{{ form.resourcefile }}</td>
                    </tr>
                </table>
                <button type="submit" class="save btn btn-blog pull-right">SAVE</button>
            </form>

        </div>
    </div>


    <footer class='container-fullwidth footer' id="footer">
        <div class="container">
            <p>&copy; Copyright 2017
                <a href="https://www.facebook.com/"><img height="20px" width="20px" src="https://www.facebook.com/images/fb_icon_325x325.png" /></a>
                <a href="https://twitter.com/?lang=nl"><img height="20px" width="20px" src="https://g.twimg.com/ios_homescreen_icon.png" /></a>
            </p>
        </div><!-- container -->
    </footer><!-- footer -->


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/myjs.js' %}"></script>
</body>
{% endblock %}
