/* fonts */

@font-face {
    font-family: Comfortaa-Bold;
    src: url(../fonts/Comfortaa-Bold.ttf) format('truetype');
}

@font-face {
    font-family: Comfortaa-Light;
    src: url(../fonts/Comfortaa-Light.ttf) format('truetype');
}

@font-face {
    font-family: Comfortaa-Regular;
    src: url(../fonts/Comfortaa-Regular.ttf) format('truetype');
}

/* navbar collapse fix */

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/* end fix */


/* fonts end */

body, html {
    font-family: Comfortaa-Regular;
}


/* Make the footer stick to the bottom of the page */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 55px;
}

.hoverTable > thead > tr {
  background-color: #f9f9f9;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

a.navbar-brand {
    font-family: Comfortaa-Bold;
    font-size: 2.2em;
}

.navbar-default .navbar-nav>li>a {
    font-size: 1.4em
}

@media (max-width:1024px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 1.1em;
    }
}

.hoverTable td {
    padding: 7px;
}

.hoverTable tbody>tr:hover {
    background-color: #ffff99;
}

.hoverTable tbody>tr:focus {
    background-color: #ffff99;
}


/* fix for placeholder adjusting length placeholder text searchbox home page */


/*
input.large {
    display: inline-block;
}

input.small {
    display: none;
}

input.phone {
    display: none;
}

@media (max-width: 720px) {
    input.large {
        display: none;
    }
    input.small {
        display: inline-block;
    }
    input.phone {
        display: none;
    }
}

@media (max-width: 480px) {
    input.large {
        display: none;
    }
    input.small {
        display: none;
    }
    input.phone {
        display: inline-block;
    }
}
*/


/* end fix for placeholder text searchbox homescreen */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* end fix for footer */


/*Adding top padding to rows*/

.pad-top {
    padding: 60px 0 0 0;
}

.pad-top-2 {
    padding: 100px 0 0 0;
}

.center {
    text-align: center;
}

.header {
    background-image: url("http://blogs.yis.ac.jp/21boweringk/files/2015/11/cropped-html-color-codes-color-tutorials-hero-00e10b1f-25giert.jpg");
    background-size: cover;
}

.navbar-default {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}

#navid .active a {
    background: rgba(255, 255, 255, 0.4);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

#navid a {
    color: #FFF;
}

#picture1 {
    width: 80%;
    height: auto;
    margin: 0 0 0 10%;
    padding: 5% 0;
}

#searchbarform {
    width: 60%;
    margin: 0 0 0 20%;
    text-align: center;
}

#searchbarform label {
    padding: 0 30px;
    margin: 0;
    vertical-align: middle;
}

#searchbarform input[type=checkbox] {
    margin: 0 3px 0 0;
    vertical-align: middle;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline;
    font-weight: 800;
}

@media only screen and (orientation: portrait) {
    #searchbarform {
        width: 80%;
        margin: 0 0 0 10%;
    }
    #searchbarform label {
        padding: 0 5px;
        margin: 0;
        vertical-align: middle;
    }
}

#searchbargroup {
    position: relative;
}

#searchbarbutton {
    position: absolute;
    top: 0;
    right: 0;
}

.iconstuff {
    box-sizing: border-box;
    padding: 5%;
    text-align: center;
}

.iconstuff img {
    width: 75%;
    height: auto;
}

#footer {
    width: 100%;
    background: #333;
    color: #FFF;
    padding: 20px 0;
}


/* login & registration menu */

#loginmenu, #regmenu {
    display: none;
    background: #DEDEDE;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid #BBB;
    z-index: 2000;
}

#loginmenu input[type=text], #loginmenu input[type=password], #regmenu input[type=text], #regmenu input[type=password], #regmenu input[type=email] {
    margin-bottom: 10px;
}

#loginmenu.active, #regmenu.active {
    display: block;
    position: absolute;
    left: calc(-50% - 10px);
}

@media (min-width: 768px) {
    #loginmenu.active:after, #regmenu.active:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #DEDEDE;
        border-width: 10px;
        margin-left: -10px;
    }
}


/* menu for mobile */

@media (max-width: 768px) {
    #loginmenu.active, #regmenu.active {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


/* courses accordion menu table */

#actable {
    width: 100%;
    padding: 50px 0;
}

#actable h4 {
    color: #FFF;
    padding: 15px 5px;
    background: #888;
    cursor: pointer;
}

#actable td {
    cursor: pointer;
}

#actable .actableheight {
    height: 0px;
    overflow: hidden;
    transition: .5s;
}

#actable .actablewrap.active .actableheight {
    height: auto;
}


/* Alain */

.SearchBarMain {
    /*width: 500px;
    height: 100px;*/
    /*background-image: url("https://c1.staticflickr.com/9/8754/16840395246_a2841b0f4e_b.jpg");
    background-size: cover;
    background-position: center;*/
}


/*.footer {
    position:absolute;
    bottom:0px;
    width: 100%;
    margin: 0;
    background-color: #000;
    height: 40px;/* or however high you would like */


}
*/
/*place background images*/
.service-box1 {
    background-image: url("https://assets.entrepreneur.com/content/3x2/1300/1410376858-experts-agree-great-entrepreneurs-keep-good-company.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
}
.service-box2 {
    background-image: url("http://d.stockcharts.com/img/articles/2015/10/1443714241523351659578.png");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
}
.service-box3 {
    background-image: url("https://www.toprankers.com/exams/wp-content/uploads/2015/12/exam.png");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
}
.service-box4 {
    background-image: url("https://www.asme.org/getmedia/c2c8ea5a-b690-4ba7-92bb-34bd1432862b/book_guide_hero_books.aspx");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
}
h3 {
    color: white;
    background-color: rgba(255, 150, 0, 0.9);
}
.container-course {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Blue_globe_banner.svg/2000px-Blue_globe_banner.svg.png");
    background-size: cover;
    background-position: center;
}
.coursecon {
    text-align: center;
}

/*Alain end*/
p, ul, li, div, nav {
    padding: 0;
    margin: 0;
}
@media (max-width:480px) {
    .smaller-text {
        font-size: 15px;
    }
}
